<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }}
</head>
    <body id="page-top" class="index parallax">
      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
      <div class="wrap parallax-group">
        {{ partial "nav.html" . }}

        {{ partial "thanks.html" . }}

        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}
      </div>
    </body>
</html>
