{{ "<!-- About Grid Section -->" | safeHTML }}
<section id="about">
  <div class="container">
    <div class="row" style="background-image: url(../img/about/1.jpg); background-attachment: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    -o-background-size:100% auto;
    height:400px;

    ">

        <div class="col-lg-12" >
            <hr class="hr-clear" >
        </div>
        <div class="col-lg-12"  >
            <hr class="redhr-cen" >
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-7">
            <h1 class="about-head" >

            Exceeding Your<br>Expectations
            </h1>

        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-12">
          <hr class="hr-clear" >
        </div>
    </div>




    <div class="row">
        <div class="col-lg-4">

          <h2>The Media Room</h2>
          <h2 style="color:#DC2028;">About Us</h2>


        </div>

        <div class="col-lg-8">

          <h3 class="medium" style="color:#DC2028;">Home Theater is our obsession.</h3>

          <p class="large">Establishing The Media Room, Inc. in 2006 and expanding through word of mouth over the last decade, we have built The Media Room from it’s first Flatscreen Install to Dedicated Theaters, Full Home Systems & Custom Installations for the finest high-end and celebrity clients.</p>

        </div>
    </div>


      <div class="row">
          <div class="col-lg-4">
            <hr class="redhr">
            <h3 class="small">Concept / Consultation</h3>
            <img src="/img/about/2.jpg" width="100%">
            <p>One of our Home Media experts will meet you in your home or office to help envision the ultimate system.</p>

          </div>

          <div class="col-lg-4">
            <hr class="redhr">
            <h3 class="small">Design / Development</h3>
            <img src="/img/about/3.jpg" width="100%">
            <p>Leaving every square inch accounted for, we determine the ideal selection and placement of each component.</p>

          </div>

          <div class="col-lg-4">
            <hr class="redhr">
            <h3 class="small">System Installation</h3>
            <img src="/img/about/4.jpg" width="100%">
            <p>Our installers will execute your installation plan down to the last step- handing over the controls.</p>

          </div>
      </div>

      <div class="row">
          <div class="col-12">
              <hr class="greyhr-full">
          </div>
      </div>


  </div>
</section>
