{{ "<!-- Creative1 Grid Section -->" | safeHTML }}
<section id="creative1" >
    <div class="container">
        <div class="row" style="background-image: url(../img/creative/1.jpg); background-attachment: absolute;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        background-size: 100%;
        -o-background-size:100%;
        height:400px;

        "> &nbsp;
            <div class="col-12">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
              <hr class="redhr">
              <h3 class="small">Home Theater</h3>
              <hr class="greyhr">
              <h3 class="small">Home Automation</h3>
              <hr class="greyhr">
              <h3 class="small">Custom Installations</h3>

            </div>
            <div class="col-lg-8">
                <h3>We work in the finest homes, with the finest designers.</h3>
<p>The end user experience is our first thought when it comes to Home Media. Premium audio & video thoughout the house, dedicated home theater and custom installations are our specialty. Along with your designer or current home decor, we create a seamless integration that will appear so natural, you’ll forget we were ever there. Our clients will atest that The Media Room will exceed your expectations and leave no stone unturned when designing the ultimate Home Media System.</p>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-1">


          </div>
            <div class="col-lg-11">
                <h1 style="color:#DC2028; font-size: 3.5em;">Creative Process</h1>

            </div>
        </div>

    </div>
</section>
