{{ "<!-- Creative2 Grid Section -->" | safeHTML }}
<section id="creative2">
  <div class="container">
    <div class="row" style="background-image: url(../img/creative/2.jpg); background-attachment: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size:100%;
    height:400px;

    "> &nbsp;
        <div class="col-12">

        </div>
    </div>
      <div class="row">
          <div class="col-lg-4">
            <hr class="redhr">
            <h3 class="small">Concept / Consultation</h3>
            <img src="/img/creative/3.jpg" width="100%">
            <p>One of our Home Media experts will meet you in your home or office to help envision the ultimate system.</p>

          </div>

          <div class="col-lg-4">
            <hr class="redhr">
            <h3 class="small">Design / Development</h3>
            <img src="/img/creative/4.png" width="100%">
            <p>Leaving every square inch accounted for, we determine the ideal selection and placement of each component.</p>

          </div>

          <div class="col-lg-4">
            <hr class="redhr">
            <h3 class="small">System Installation</h3>
            <img src="/img/creative/5.jpg" width="100%">
            <p>Our installers will execute your installation plan down to the last step- handing over the controls.</p>

          </div>
      </div>

      <div class="row">
          <div class="col-12">
              <hr class="greyhr-full">
          </div>
      </div>


  </div>
</section>
