{{ "<!-- Hero -->" | safeHTML }}
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">{{ with .Site.Params.hero.title }}{{ . }}{{ end }}</div>
            <div class="intro-lead-in">{{ with .Site.Params.hero.subtitle }}{{ . }}{{ end }}</div>
        </div>


        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
              <p><a href="tel:13234863342" onclick="ga('send', 'event', { eventCategory: 'My Link', eventAction: 'Click' })">323.48.MEDIA</a></p>
              <p>Ventura County / Los Angeles County / Orange County</p>
            </div>
            <div class="col-md-2">

            </div>
        </div>

    </div>
</header>
{{ "<!-- Services Section -->" | safeHTML }}
