<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
    <body id="page-top" class="index">
        {{ partial "nav.html" . }}
        {{ partial "hero.html" . }}
        {{ partial "creative1.html" . }}
        {{ partial "creative2.html" . }}
        {{ partial "about.html" . }}
        {{ partial "brands.html" . }}
        {{ partial "services-ht.html" . }}
        {{ partial "services-hs.html" . }}
        {{ partial "services-fh.html" . }}
        {{ partial "contact.html" . }}
        {{ partial "hero.html" . }}
        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
